*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}  
.landingPage{
    background-image: url(/pictures/Untitled\ designback.png);
    background-size: cover;
    background-position: center;
}


/*HEADER=================================================================================*/

.mainHeader {
    display: block;
    width: 100%;
    height: 80px;
    background-color: rgba(14, 14, 14, 0.945);
}
.innerHeader {
   
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0% auto;
}
.logoContainer {
    display:table;
    float: left;
    height: 100%;
    width: 15%;
    
}

.logoContainer h1{
    font-family: Josefin Sans;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-weight: 100;
}
.logoContainer h1 span a {
    color: white;

    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;


}
.navigation a{
    float: left;
    height: 100%;
    display: table;
    
    padding: 0px 10px;
}
.navigation a li {
    font-family: Josefin Sans;
    font-size: 16px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.navigation a:hover{
    background-color: rgb(68, 68, 68);
}
/*Footer =================================================================================*/
.footer{
    margin-bottom: 0%;
    background-color: rgba(14, 14, 14, 0.945);
    width: 100%;
    height: 120px;
    display: block;
    margin-top: 150px;
}
.innerFooter {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
}
.information a {
    
    float: left;
    height: 120px;
    display: table;
    padding: 0px 20px;

}
.information a li {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 20px;
    color: white;
    display: table-cell;
    vertical-align: middle;
}


/* Landing Page=================================================================================*/
.landingPage {
    background-color: white;
    width: 100%;
    height: 1000px;
}
.secondTop {
    width: 100%;
    height: 80px;
    background-color: rgba(14, 14, 14, 0.945);
    display: table;
    margin-bottom: 40px;
    
}
.secondTop h1 {
    font-family: Josefin Sans;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: 200;
}
.secondTop h1 span {
    font-weight: 800;
}

/*Slide Show=================================================================================*/
.slideShowContainer {
    border: 8px solid rgba(14, 14, 14, 0.945);
    border-radius: 8px;
    background-color: white;
    width: 799px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    text-align: center;
    overflow: hidden;
}
.ImageHolder {
    width: 2400px;
    height: 600px;
    clear:both;
    position: relative;

    transition: left 2s;
}
.sliderImage {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#sliderImage1:target ~ .ImageHolder
{
    left: 0px;
}

#sliderImage2:target ~ .ImageHolder
{
    left: -800px;
}
.buttonHolder {
    position: relative;
    text-align: center;
    margin-top: -35px;
    height: 0px;
    
}
.sliderChange {
    border: 2px solid rgba(14, 14, 14, 0.945);
    display: inline-block;
    padding: 3px;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.sliderChange:hover {
    background-color: rgba(14, 14, 14, 0.945);
   
}
/*After slide show=================================================================================*/
.information1st{
    background-color: rgba(14, 14, 14, 0.945);
    height: 800px;
    width: 100%;
    margin-bottom: 120px;
    margin-top: 150px;
}
.AboutText{
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    margin-top: 150px;
    float: left;
    color:rgb(255, 255, 255);
    margin-left: 10%;
    
}
.AboutText h2{
    font-size: 40px;
    font-family: Josefin Sans;
    text-align: left;
}
.AboutText p{
    word-spacing: 2px;
    padding: 10px;
    font-family: Epilogue;
    font-size: 25px;
}
.button1{
    background-color: rgba(14, 14, 14, 0.945);
    padding: 5px;
    border:4px solid rgb(255, 255, 255);
    width: 60px;
}
.button1:hover{
    border-color: rgba(14, 14, 14, 0.945);
    background-color: white;
}
.button1 h2{
    
    text-align: center;
    color: white;
}
.button1 h2:hover{
    color: rgba(14, 14, 14, 0.945);
}
.pictureFirstPage{
    width: 30%;
    float: right;
    margin-right: 13%;
    margin-top: 20px;
    max-width: 550px;
}
/*First page buttons=================================================================================*/
.buttonsContainer {
    background-color: rgb(255, 255, 255);
    display: table;
    width: 720px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    height: 100px;
}
.buttons a {
    float: left;
    display: table;
    padding: 0px 76px;
    height: 100px;
    
}
.buttons a li {
    clear: left;
    font-family: Josefin Sans;
    font-size: 20px;
    height: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}
.buttons a {
    border: 4px solid white;
    background-color: rgba(14, 14, 14, 0.945);
}
.buttons a:hover {
    background-color: white;
    color: rgba(14, 14, 14, 0.945);
    border-color: rgba(14, 14, 14, 0.945);
}
.buttons a li:hover {
    color: rgba(14, 14, 14, 0.945);
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/*second page===============================================================================================*/
.secondPageTitle{
    height: 300px;
    margin-left: 5%;
}
.blackBar  {
    background-color: rgba(14, 14, 14, 0.945);
    height: 5px;
    max-width: 90%;
    font-family: Redacted;
}
.secondPageTitle h1{
    font-family: Josefin Sans;
    color: black;
    margin-top: 10%;
    font-size: 40px;
}
.entranceContainer {
    background-color:rgba(14, 14, 14, 0.945);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 700px;   
}
.photobox1 {
    max-width: 250px;
    max-height: 500px;
}
.photobox2 {
    max-width: 250px;
    max-height: 500px;
}
.photobox3 {
    max-width: 250px;
    max-height: 500px;
}
.photobox4 {
    max-width: 250px;
    max-height: 500px;
}
.photobox5 {
    max-width: 250px;
    max-height: 500px;
}

/*Content On second Page==================================================*/
.BMXContent{
    background-color: rgb(255, 255, 255);
    height: 800px;
    display: block;
}
.BMXContent h1 {
    letter-spacing: 2px;
    font-family: Josefin Sans;
    font-size: 40px;
    margin-left: 5%;
}
.boxLine {
    width: 0px;  
    height: 400px;
    border: 8px solid rgba(14, 14, 14, 0.945);
    margin-left: 5%;
    padding-top: 60px;
    display: inline-block;
}
.BMXTextContent {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 550px;
    
}
.imageBMXContent {
    display: inline-block;
    min-height: 400px;
    min-width: 700px;
    background-size: cover;
    margin-left: 7%;
}
.bmxPicture {
    margin-bottom: 6%;
   
}
.BMXTextContent p {
    color: rgb(0, 0, 0);
    padding-top: 5px;
    font-family: Epilogue;
    font-size: 18px;
}
.BMXLinks {
    color: red;
    font-family: Epilogue;
    font-size: 18px;
}
hr{
    border-style:solid;
    border-width: 1px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.secondPar {
    display: block;
  
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    font-family: Epilogue;
    font-size: 18px;
}
/*People page start=============================================================================================*/

.peoplePageTitle{
    height: 300px;
    margin-left: 5%;
    background-color: white;
}
.blackBar  {
    background-color: rgba(14, 14, 14, 0.945);
    height: 5px;
    max-width: 90%;
    font-family: Redacted;
}
.peoplePageTitle h1{
    font-family: Josefin Sans;
    color: black;
    margin-top: 10%;
    font-size: 40px;
}

.introductionPeople {
    width: 100%;
    height: 200px;
    background-color: rgba(14, 14, 14, 0.945);
}
.introductionPeople h1 {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: Josefin Sans;
}
.introductionPeople p {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:  Epilogue;
}
.peopleContent {
    background-color: rgb(238, 238, 238);
    margin-top: -80px;
    margin-left: 5%;
    width: 50%;
    height: 2460px;
    border-radius: 8px;
    display: inline-block;
}
.ridersImages{
    margin-left: 30%;

}
.peopleContent h2{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    color: black;
    font-family: Josefin Sans;
}
.peopleContent p {
    padding: 10px;
    font-size: 20px;
    color: black;
    font-family: Epilogue;
}
.sidePhotos {
    vertical-align: top;
    background-color: rgba(14, 14, 14, 0.945);
    width: 35%;
    height:750px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 8px;
}
.sidePhotos h2 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    color: white;
    font-family: Josefin Sans;
}
.sidePhotos p {
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: Epilogue;
}
.video-stream {
    width: 100%;
    height: 400px;
}

/*Contact Page==================================================================================================================*/
.contactPictures {
    background-color: rgb(238, 238, 238);
    margin-top: -90px;
    margin-left: 5%;
    width: 80%;
    height: 2460px;
    border-radius: 8px;
    display: inline-block;
}
.contactPictures h2{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    color: black;
    font-family: Josefin Sans;
}
.contactPictures p {
    padding: 10px;
    font-size: 20px;
    color: black;
    font-family: Epilogue;
}